{% extends "ApiBundle:Default:layout.html.twig" %}
{% block title %}Chat{% endblock %}
{% block head %}
     {% stylesheets
     '@ApiBundle/Resources/public/css/chat.css'
     filter='cssrewrite' output='css/compiled/custom.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
     <div class="row">
        <div class="col-md-9" >
             <h2><span class="glyphicon glyphicon-comment"></span>
            {{ chatgroup.name }} - {{ chatgroup.since|date('d-m-Y') }} </h2>
        </div>
         <div class="col-md-3" >
             <a href="{{ path('chatgroup_index') }}">Back to index</a> |
             <a href="{{ path('chatgroup_new') }}">New</a>

        </div>
    </div>
     <div class="row">
         <div id="peoplediv" class="col-md-12"  data-id="{{ app.user.id }}">
             <span class="glyphicon glyphicon-user"></span>
             {% for user in chatgroup.users %}
                 <span class="item"><i class="fa fa-user"></i> {{ user.username }},
                     <!--a href="{{ path('chatgroup_chat', {'id': user.id }) }}">Enter</a-->
                     </span>
             {% endfor %}
             ...
         </div>
     </div>
    <div class="row" >
        <div class="col-md-12" >
           <div id="chatdiv" data-url="{{ path('api_message_last') }}">
            Loading...
            </div>
        </div>
    </div>
    <div class="row" id="waiting">
        <div class="col-md-12" >
        Waiting for messages...
        </div>
    </div>
    <div class="row navbar-fixed-bottom " id="bottombar">
         <div class="col-md-2" id="bottombarlogo">
             <span class="glyphicon glyphicon-comment"></span>
         </div>
        <div id="messagediv" class="col-md-8">
            <textarea id="message"  ></textarea>
        </div>
        <div class="col-md-2" id="bottombartool">
            <a href="" data-url="{{ path('api_message_new_save') }}" data-idgroup="1" id="sendmessage"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        </div>
    </div>
{% endblock %}

{% block customjavascripts %}
    {% javascripts '@ApiBundle/Resources/public/js/chat.js' %}
        <script src="{{ asset_url }}"></script>
     {% endjavascripts %}
{% endblock %}