{% extends "ApiBundle:Default:layout.html.twig" %}
{% block title %}Chat{% endblock %}
{% block body %}
    <h2>{% trans %}Chat index{% endtrans %} <span class="glyphicon glyphicon-heart"></span></h2>
    <div class="table-responsive">
        <a href="{{ path('chatgroup_index') }}">Refresh</a> |
        <a href="{{ path('chatgroup_new') }}">New</a> |
        <table class="table .table-condensed">
            <div id='items'>
                {% for chatgroup in chatgroups %}
                    <div class="item">{{ chatgroup.id }}: {{ chatgroup.name }}
                        <a href="{{ path('chatgroup_chat', {'id': chatgroup.id }) }}">Enter</a>
                    </div>
                {% endfor %}
            </div>
        </table>
    </div>

{% endblock %}